/* Header styles */
header {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Logo styles */
/* Logo styles */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  max-width: 400px;
  height: 300px;
}


/* User authentication styles */
.user-authentication {
  text-align: center;
}

.login-signup a {
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  background-color: #8B4513;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.login-signup a:hover {
  background-color: #654321;
}

/* Navigation styles */
.navigation-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ccc;
}

.navigation-bar li {
  margin: 0 10px;
}

.navigation-bar a {
  display: inline-block;
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navigation-bar a:hover {
  color: #8B4513;
}

/* Hero section styles */
.hero {
  padding: 50px;
  text-align: center;
}


/* Featured services section styles */
.featured-services {
  padding: 50px;
  text-align: center;
  background-color: #f8f8f8;
}

.service {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.service img {
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
}

.service-text {
  text-align: left;
  padding: 0 20px;
}
/*DOCTORS PAGE________________________________________________*/

.appointment-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.appointment-info p {
  margin: 0;
}

.appointment-info .time {
  font-weight: bold;
}

.appointment-actions button {
  margin-right: 5px;
  padding: 3px 6px;
  background-color: #8B4513;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Search Patients section */
section.search-patients {
  text-align: center;
}

#search-form {
  margin-bottom: 10px;
}

#patient-id {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
  max-width: 100%;
}

#patient-id::placeholder {
  color: #999;
}

#search-form button {
  padding: 8px 16px;
  background-color: #8B4513;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#search-form button:hover {
  background-color: #fff;
}

/* END: DOCTORS PAGE________________________________________________*/
/* Doctor/Patient PAGE______________________________________________*/

.patient-details p {
  margin: 0;
}

.upload-form input[type="file"] {
  margin-bottom: 10px;
}
.medical-records {
  max-height: 200px; /* Adjust the height based on your needs */
  overflow-y: auto;
}
.medical-records .record-item {
  border: 1px solid #8B4513;
  padding: 10px;
  margin-bottom: 6px;
}
/* END: Doctor/Patient PAGE________________________________________________*/

/* Onboarding for Patient________________________________________________*/
.onboarding-box {
  max-width: 400px;
  margin: 100px auto;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.onboarding-box h2 {
  margin-top: 0;
}

.onboarding-box p {
  margin-bottom: 20px;
}

.onboarding-box .form-group {
  text-align: left;
}

.onboarding-box input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.onboarding-box button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #8B4513;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.onboarding-box button[type="submit"]:hover {
  background-color: #654321;
}

/* END: Onboarding for Patient________________________________________________*/
/*About style */
.about-us {
  margin: 7px auto;
  max-width: 800px;
  text-align: center;
}

.about-us h2 {
  color: #8B4513;
}

.team {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 40px;
}

.member {
  flex-basis: calc(33.33% - 20px);
  margin: 10px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  text-align: center;
}


.member img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.member h3 {
  margin-top: 0;
}

.member p {
  margin-bottom: 10px;
}

.vision {
  margin-top: 40px;
  text-align: center;
}

.vision-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f3ecec;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.vision-content h3 {
  color: #8B4513;
}

.vision-content p {
  color: #363535;
}


/*END: ABOUT Styles */

/* patients_The patient*/
.connected-doctors {
  margin-top: 20px;
}

.connected-doctors .doctor-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.connected-doctors .doctor-item p {
  margin-left: 10px;
}

.connected-doctors .doctor-item:before {
  content: "\f0c3";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 16px;
  color: #216721; /* Change the color to your desired color */
}

.connected-doctors .doctor-item p {
  margin-left: 10px;
}

/*END: Patients/thePatient Page */



/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  display: inline-block;
  margin: 0 10px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

/* Animation styles */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 1s ease-in-out;
}




